
header, footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0a2463;
    min-height: 50px;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
}

body {

    overflow-x: hidden;
}

section {
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 350px;
}

button {
    background-color: #d8315b;
}

.nav {
    text-align: center;
    background-color: #3e92cc;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    float: right;
    width: 100px;
}

.nav:hover {
    background-color: #d8315b;
}

.notvisible {
    display: none;
}

