.post {
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    background-color: #0a2463;
    min-height: 200px;
    box-shadow: 1px 2px 2px 1px #020d25;

}

.sidepost {
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    background-color: #d8315b;

}


.detail {
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    background-color: #fffaff;

}

.margin {
    margin: 8px;
}

.clickable {
    background-color: #3e92cc;

}

#booking {
    position: fixed;
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
    background-color: #fffaff;
    left: 50%;
    bottom: 30%;
    box-shadow: 1px 2px 2px 1px #020d25;


}


.align-end {
    margin-left: 450px;
}