
.info {
    background-color: #0a2463;
    border-radius: 5px;
    margin: 8px;
    padding: 7px;


}

.detail {
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    background-color: #fffaff;

}

.review {
    text-align: center;
    margin: 3px;
    padding: 7px;
    border-radius: 4px;
    background-color: #3e92cc;
}

.createpost {
    background-color: #d8315b;
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
}

.createpost:hover {
    background-color: #3e92cc;

}

#reviewform {
    position: fixed;
    border-radius: 7px;
    margin: 15px;
    padding: 10px;
    background-color: #fffaff;
    left: 30%;
    right: 20%;
    top: 40%;
    bottom: 10%;
    box-shadow: 1px 2px 2px 1px #020d25;

}

#routepost {
    position: fixed;
    border-radius: 7px;
    margin: 15px;
    padding: 10px;
    background-color: #fffaff;
    left: 20%;
    right: 30%;
    top: 2%;
    bottom: 2%;
    box-shadow: 1px 2px 2px 1px #020d25;


}

.align-end {
    margin-left: 550px;
}


.checked {
    color: orange;
}

input {
    border-style: none;
    background-color: rgb(240, 238, 234);
    border-radius: 5px;

}

textarea {
    border-style: none;
    background-color: rgb(240, 238, 234);
    border-radius: 5px;


}