
.reg {
    text-align: center;
    background-color: #fffaff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 1px 1px 2px 1px #d4d1d4;

}

.user {
    text-align: center;
    margin: 1px;
    border-radius: 5px;
    background-color: #d8315b;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px #d4d1d4;
}

.user:hover {
    background-color: #fffaff;
}


