.profile {

    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    background-color: #0a2463;
    min-height: 200px;
    box-shadow: 1px 2px 2px 1px #020d25;

}

.singledata {

    margin: 10px;
    padding: 10px;
    background-color: #fffaff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #9ba0ac;

}


.userdata {

    box-shadow: 1px 1px 1px #9ba0ac;
    margin: 10px;
    margin-left: 350px;
    padding: 15px;
    background-color: #fffaff;
    border-radius: 15px;


}


.box {
    box-shadow: 1px 1px 1px 1px #9ba0ac;
    margin: 7px;
    padding: 7px;
    background-color: #fffaff;
    border-radius: 8px;

}

.comment {

    margin: 7px;
    padding: 10px;
    border-radius: 8px;


}

.det {
    text-align: center;
    background-color: #d8315b;
    box-shadow: 1px 1px 2px 1px #911735;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

.margin {
    margin: 15px
}